#circleBar {
  text-align: center;
  font-family: 'Staatliches', cursive;

}
#circleBar .round {
  min-height: 250px;
  margin-top: 10px;
  position: relative;
  margin-bottom: 30px;
}
#circleBar .round strong {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -70px;
  transform: translate(-50%);
  font-size: 30px;
  color: #212121;
  font-weight: 80;
}
#circleBar span {
  display: block;
  color: #999;
  font-size: 20px;
  margin-top: 10px;
}
#circleBar span i {
  color: #ff5c5c;
  font-size: 22px;
  margin-right: 4px;
}
section button:hover {
  background-color: #ff5c5c;
}

#Contact {
	background-color:white
}


.side-line {
  margin-bottom:50px;
  overflow: hidden;
  text-align: center;
  color:#e31b5f;
}

.side-line:before,
.side-line:after {
  background-color: #000;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

.side-line:before {
  right: 0.5em;
  margin-left: -50%;
}

.side-line:after {
  left: 0.5em;
  margin-right: -50%;
}
a {
	text-decoration: none
}

h4 {
	text-align: center;
	margin: 30px 0;
	color: #444
}

.container .row
{
	margin:0 auto;
}

.main-timeline12 .timeline {
	padding: 0 2px;
	position: relative;
	display: inline-block;
}

.main-timeline12 .col-md-2 {
	-ms-flex: 0 0 30%;
	flex: 0 0 30%;
	max-width: 19%
}

.main-timeline12 .timeline-icon {
	display: block;
	text-align: center;
	padding: 20px 0 55px;
	z-index: 1;
	position: relative
}

.main-timeline12 .timeline:nth-child(2n) .timeline-icon {
	padding: 55px 0 20px
}

.main-timeline12 .timeline-icon:before {
	content: "";
	width: 1px;
	height: 75%;
	background: #39ae99;
	margin: 0 auto;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: -1;
	transition: all .3s ease 0s
}

.main-timeline12 .timeline:nth-child(2n) .timeline-icon:before {
	bottom: auto;
	top: 0
}

.main-timeline12 .timeline:hover .timeline-icon:before {
	background: #24263D
}

.main-timeline12 .timeline-icon i {
	width: 45px;
	height: 45px;
	line-height: 45px;
	border-radius: 50%;
	background: #39ae99;
	font-size: 14px;
	color: #fff;
	transition: all .3s ease 0s
}

.main-timeline12 .timeline:hover .timeline-icon i {
	background: #24263D;
	animation: icon-load 2.5s ease 0s infinite
}

.main-timeline12 .border {
	height: 15px;
	background: #111111;
	margin-bottom: 0;
	transition: all .3s ease 0s
}

.main-timeline12 .timeline:hover .border {
	background: #24263D
}

.main-timeline12 .timeline:first-child .border {
	border-radius: 4px 0 0 4px
}

.main-timeline12 .timeline:last-child .border {
	border-radius: 0 4px 4px 0
}

.main-timeline12 .timeline:nth-child(2n) .border {
	margin: 18px 0 0
}

.main-timeline12 .timeline-content {
	padding: 15px;
	border: 1px solid #111111;
	background: white;
	border-radius: 3px;
	transition: all .3s ease 0s
}

.main-timeline12 .timeline:hover .timeline-content {
	background: #24263D;
	color:#ffffff
}

.main-timeline12 .title {
	font-size: 18px;
	font-weight: 700;
	color: #868e96;
	text-transform: uppercase;
	margin: 0 0 10px;
	transition: all .3s ease 0s
}

.main-timeline12 .timeline:hover .title {
	color: #fff
}

.main-timeline12 .timeline-content .description {
	font-size: 14px;
	color: #888;
	margin: 0;
	transition: all .3s ease 0s
}

.main-timeline12 .timeline:hover .description {
	color: #fff
}

@keyframes icon-load {
	0% {
		transform: rotate(-12deg)
	}
	8% {
		transform: rotate(12deg)
	}
	10%,
	28%,
	30%,
	48%,
	50%,
	68% {
		transform: rotate(24deg)
	}
	18%,
	20%,
	38%,
	40%,
	58%,
	60% {
		transform: rotate(-24deg)
	}
	100%,
	75% {
		transform: rotate(0)
	}
}

@media only screen and (max-width:990px) {
	.main-timeline12 .timeline {
		margin-bottom: 20px;
		max-width:45%
	}
}

@media only screen and (max-width:767px) {
	.main-timeline12 .timeline-icon {
		padding-top: 0
	}
	.main-timeline12 .timeline:nth-child(2n) .timeline-icon {
		padding-bottom: 0
	}
	.main-timeline12 .border {
		margin-bottom: 10px
	}
	.main-timeline12 .timeline:nth-child(2n) .border {
		margin: 10px 0 0
	}
	.main-timeline12 .timeline-content {
		text-align: center;
		overflow:hidden; word-wrap:break-word
	}
}

/*certificate cards*/


.card {
	
	margin-top: 10px;
  border: none;
  transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  overflow: hidden;
  border-radius: 20px;
  min-height: 250px;
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);
}

@media screen and (min-width: 320px) {
  .card {
    position: relative;
    top: 0;
  }

  .card {
    width: 100%;
	min-height: 250px;
    margin: 0 10;
  }

}
@media only screen and (min-width: 768px) {
   .card {
    width: 100%;
	min-height: 250px;
    margin: 0 10;
  }
}

.card.card-has-bg {
  transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
  background-size: 120%;
  background-repeat: no-repeat;
  background-position: center center;
}
.card.card-has-bg:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: inherit;
  filter: grayscale(100%);
}

.card .card-footer {
  position:absolute;
  bottom:10px;
  
  background: none;
  border-top: none;
}

.card .card-meta {
  color: orange;
}
.card .card-body {
  transition: all 500ms cubic-bezier(0.19, 1, 0.22, 1);
}

.card .card-img-overlay {
  transition: all 800ms cubic-bezier(0.19, 1, 0.22, 1);
  background: #234f6d;
  background: linear-gradient(0deg, rgba(4, 69, 114, 0.5) 0%, #044572 100%);
}








.wrap{
  text-align: center;
  }
.box{
  height:14vw;
  width:20vw;
  color:#ffffff;
  font-size:1.3rem;
  padding-top:6vw;
  padding-bottom:6vw;
  background:#111111;
  margin:1vw;
  display:inline-block;
  }
  
  
  @media only screen and (max-width:990px) {
.wrap{
  text-align: center;
  }
.box{
  height:20vw;
  width:25vw;
  color:#ffffff;
  font-size:1.2rem;
  padding-top:6vw;
  background:#111111;
  margin:2vw;
  display:inline-block;
  overflow:hidden; word-wrap:break-word
  }
}

@media only screen and (max-width:767px) {

.wrap{
  text-align: center;
  }
.box{
  height:25vw;
  width:25vw;
  color:#ffffff;
  font-size:0.8rem;
  padding-top:8vw;
  background:#111111;
  margin:2vw;
  display:inline-block;
  overflow:hidden; word-wrap:break-word
  }
 
}





/* blog card code */ 
.section_our_solution .row {
  align-items: center;
}

.our_solution_category {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.our_solution_category .solution_cards_box {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.solution_cards_box .solution_card {
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(136, 144, 195, 0.2),
    0 5px 15px 0 rgba(37, 44, 97, 0.15);
  border-radius: 15px;
  margin: 8px;
  padding: 10px 15px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  min-height: 265px;
  transition: 0.7s;
}

.solution_cards_box .solution_card:hover {
  background: #309df0;
  color: #fff;
  transform: scale(1.1);
  z-index: 9;
}

.solution_cards_box .solution_card:hover::before {
  background: rgb(85 108 214 / 10%);
}

.solution_cards_box .solution_card:hover .solu_title h3,
.solution_cards_box .solution_card:hover .solu_description p {
  color: #fff;
}

.solution_cards_box .solution_card:before {
  content: "";
  position: absolute;
  background: rgb(85 108 214 / 5%);
  width: 170px;
  height: 400px;
  z-index: -1;
  transform: rotate(42deg);
  right: -56px;
  top: -23px;
  border-radius: 35px;
}

.solution_cards_box .solution_card:hover .solu_description button {
  background: #fff !important;
  color: #309df0;
}

.solution_cards_box .solution_card:hover .solu_description .read_more_btn a {
  color: #309df0;
  text-decoration: None;
}

.solution_cards_box .solution_card .solu_description .read_more_btn a {
  color: #fff;
  text-decoration: None;
}

.solution_card .solu_title h3 {
  color: #212121;
  font-size: 1.3rem;
  margin-top: 13px;
  margin-bottom: 13px;
}

.solution_card .solu_description p {
  font-size: 15px;
  margin-bottom: 15px;
}

.solution_card .solu_description button {
  border: 0;
  border-radius: 15px;
  background: linear-gradient(
    140deg,
    #42c3ca 0%,
    #42c3ca 50%,
    #42c3cac7 75%
  ) !important;
  color: #fff;
  font-weight: 500;
  font-size: 1rem;
  padding: 5px 16px;
}

.our_solution_content h1 {
  text-transform: capitalize;
  margin-bottom: 1rem;
  font-size: 2.5rem;
}


.hover_color_bubble {
  position: absolute;
  background: rgb(54 81 207 / 15%);
  width: 100rem;
  height: 100rem;
  left: 0;
  right: 0;
  z-index: -1;
  top: 16rem;
  border-radius: 50%;
  transform: rotate(-36deg);
  left: -18rem;
  transition: 0.7s;
}

.solution_cards_box .solution_card:hover .hover_color_bubble {
  top: 0rem;
}

.solution_cards_box .solution_card .so_top_icon {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #fff;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.solution_cards_box .solution_card .so_top_icon img {
  width: 40px;
  height: 50px;
  object-fit: contain;
}

/*start media query*/
@media screen and (min-width: 320px) {
  .sol_card_top_3 {
    position: relative;
    top: 0;
  }

  .our_solution_category {
    width: 100%;
    margin: 0 auto;
  }

  .our_solution_category .solution_cards_box {
    display: inline-block;
  }
}
@media only screen and (min-width: 768px) {
  .our_solution_category .solution_cards_box {
    display: inline-block;
  }
}
@media only screen and (min-width: 1024px) {
	.our_solution_category .solution_cards_box {
    display: flex;
  }
  .sol_card_top_3 {
    position: relative;
    top: -3rem;
  }
  .our_solution_category {
    width: 100%;
    margin: 0 auto;
  }
}

/* blog card code */ 




.colorlib-services{
  padding-top: 4em;
  clear: both;
  width: 100%;
  display: block; }
  @media screen and (max-width: 768px) {
    .colorlib-services {
      padding-top: 5em; } }


.services {
	width:300px;
	height:220px;
  padding: 1em;
  box-shadow: 0px 0px 56px -8px rgba(0, 0, 0, 0.17);
  border-bottom: 2px solid #2c98f0; }
  .services .icon2 {
    display: block;
    margin-bottom: 20px; }
    .services .icon2 i {
      font-size: 30px;
      color: #2c98f0; }
  .services h3 {
    font-family: "Quicksand", Arial, sans-serif;
    font-size: 16px;
    font-weight: 500; }
  .services.color-2 {
    border-bottom: 2px solid #ec5453; }
    .services.color-2 .icon2 i {
      color: #ec5453; }
  .services.color-3 {
    border-bottom: 2px solid #f9bf3f; }
    .services.color-3 .icon2 i {
      color: #f9bf3f; }
  .services.color-4 {
    border-bottom: 2px solid #a84cb8; }
    .services.color-4 .icon2 i {
      color: #a84cb8; }
  .services.color-5 {
    border-bottom: 2px solid #2fa499; }
  .services.color-6 {
    border-bottom: 2px solid #4054b2; }
	  .services.color-7 {
    border-bottom: 2px solid #479649; }
  .services.color-8 {
    border-bottom: 2px solid #cdc733; }
  .services.color-9 {
    border-bottom: 2px solid #f14668; }
	  .services.color-10 {
    border-bottom: 2px solid #e36bae; }
	  .services.color-11 {
    border-bottom: 2px solid #a4ebf3; }

.services {
  margin-bottom: 100px;
  position: relative;
  z-index: 0; }
  @media screen and (max-width: 768px) {
    .services {
      margin-bottom: 4em; } }
  .services .icon {
    position: absolute;
    top: -30px;
    left: 0;
    right: 0;
    width: 100px;
    height: 50px;
    display: table;
    margin: 0 auto;
    background: #2c98f0; }
    .services .icon:before, .services .icon:after {
      position: absolute;
      left: 0;
      right: 0;
      content: ''; }
    .services .icon:before {
      top: -30px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 50px 30px 50px;
      border-color: transparent transparent #2c98f0 transparent; }
    .services .icon:after {
      bottom: -30px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 30px 50px 0 50px;
      border-color: #2c98f0 transparent transparent transparent; }
  .services .desc {
    margin-top: 60px; }
    .services .desc h3 {
      font-size: 16px;
      font-weight: 700;
      text-transform: uppercase; }
  .services.color-2 .icon {
    background: #ec5453; }
    .services.color-2 .icon:before {
      border-color: transparent transparent #ec5453 transparent; }
    .services.color-2 .icon:after {
      border-color: #ec5453 transparent transparent transparent; }
  .services.color-3 .icon {
    background: #f9bf3f; }
    .services.color-3 .icon:before {
      border-color: transparent transparent #f9bf3f transparent; }
    .services.color-3 .icon:after {
      border-color: #f9bf3f transparent transparent transparent; }
  .services.color-4 .icon {
    background: #a84cb8; }
    .services.color-4 .icon:before {
      border-color: transparent transparent #a84cb8 transparent; }
    .services.color-4 .icon:after {
      border-color: #a84cb8 transparent transparent transparent; }
  .services.color-5 .icon {
    background: #2fa499; }
    .services.color-5 .icon:before {
      border-color: transparent transparent #2fa499 transparent; }
    .services.color-5 .icon:after {
      border-color: #2fa499 transparent transparent transparent; }
  .services.color-6 .icon {
    background: #4054b2; }
    .services.color-6 .icon:before {
      border-color: transparent transparent #4054b2 transparent; }
    .services.color-6 .icon:after {
      border-color: #4054b2 transparent transparent transparent; }
.services.color-7 .icon {
    background: #479649; }
    .services.color-7 .icon:before {
      border-color: transparent transparent #479649 transparent; }
    .services.color-7 .icon:after {
      border-color: #479649 transparent transparent transparent; }
.services.color-8 .icon {
    background: #cdc733; }
    .services.color-8 .icon:before {
      border-color: transparent transparent #cdc733 transparent; }
    .services.color-8 .icon:after {
      border-color: #cdc733 transparent transparent transparent; }
  .services.color-9 .icon {
background: #f14668; }
.services.color-9 .icon:before {
  border-color: transparent transparent #f14668 transparent; }
.services.color-9 .icon:after {
  border-color: #f14668 transparent transparent transparent; }
  
.services.color-10 .icon {
    background: #e36bae; }
    .services.color-10 .icon:before {
      border-color: transparent transparent #e36bae transparent; }
    .services.color-10 .icon:after {
      border-color: #e36bae transparent transparent transparent; }
.services.color-11 .icon {
    background: #a4ebf3; }
    .services.color-11 .icon:before {
      border-color: transparent transparent #a4ebf3 transparent; }
    .services.color-11 .icon:after {
      border-color: #a4ebf3 transparent transparent transparent; }





